[submodule "vendor/connection-pool"]
	path = vendor/connection-pool
	url = https://github.com/leonhartley/connection-pool
[submodule "vendor/hiredis"]
	path = vendor/hiredis
	url = https://github.com/redis/hiredis
